
DEBUG=False


ALLOWED_HOSTS=tu-app.onrender.com,localhost

# Database (Render proporciona estas automáticamente)
# PGDATABASE=
# PGUSER=
# PGPASSWORD=
# PGHOST=
# PGPORT=


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-contraseña-de-aplicacion
DEFAULT_FROM_EMAIL=tu-email@gmail.com


SECRET_KEY=tu-secret-key-segura-aqui
